In [1]:
print("trh")

trh

In [5]:
print("c:\\nathon\\first.py")

c:\nathon\first.py

In [52]:
print(r"c:\nathon\first.py")

c:\nathon\first.py

In [47]:
print('HELLO', 'WORLD', sep='\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n                                FGE.  \t fweb             \n\n\n\t\n\t\n\f\t\n BEAUTIFUL ')

HELLO






                                FGE.  	 fweb





 BEAUTIFUL WORLD

In [46]:
import sys 
print(sys.version)

3.8.3 (default, Jul  2 2020, 11:26:31)
[Clang 10.0.0 ]

In [54]:
print("Checking installation access",end='\nRunning personal 245 \nadding to 343 \nfinding acess \nno information detected\nSorry sir/mam we cannot find any information about you\nUnfindable information detected\nproccesing...\nadding...\nfinding...\nFound\nInstalled Macintosh Catalina 3.4.5')

Checking installation access
Running personal 245
adding to 343
finding acess
no information detected
Sorry sir/mam we cannot find any information about you
Unfindable information detected
proccesing...
adding...
finding...
Found
Installed Macintosh Catalina 3.4.5

In [53]:
print("Checking installation acess...",end='')
print("\nRunning personal 245 \nadding to 343 \nfinding acess \nno information detected\nSorry sir/mam we cannot find any information about you\nUnfindable information detected\nproccesing...\nadding...\nfinding...\nFound\nInstalled Macintosh Catalina 3.4.5")

Checking installation acess...
Running personal 245
adding to 343
finding acess
no information detected
Sorry sir/mam we cannot find any information about you
Unfindable information detected
proccesing...
adding...
finding...
Found
Installed Macintosh Catalina 3.4.5

In [56]:
print("Checking installation acess...",end='')
print("\nRunning personal 245 \nadding to 343 \nfinding acess \nno information detected\nSorry sir/mam we cannot find any information about you\nUnfindable information detected\nproccesing...\nfinding...\nFound\ninstalling...\nInstalled Macintosh Catalina 3.4.5")

Checking installation acess...
Running personal 245
adding to 343
finding acess
no information detected
Sorry sir/mam we cannot find any information about you
Unfindable information detected
proccesing...
finding...
Found
installing...
Installed Macintosh Catalina 3.4.5

In [59]:
print("The first sentence",end='. ')
print("The second sentence",end='. ')
print("The last sentence.")

The first sentence. The second sentence. The last sentence.

In [64]:
print("Rahul",end='$')
print("Smyan",end='$')
print("Saahas",end='%')
print("Rithwik",end='*')
print("Akshita")

Rahul$Smyan$Saahas%Rithwik*Akshita

# This is my homework

In [85]:
print("Mercury,Venus,Earth","Mars,Jupiter,Saturn",sep='\n\n\n',end="\n\n\nUranus,Neptune,Pluto")

Mercury,Venus,Earth


Mars,Jupiter,Saturn


Uranus,Neptune,Pluto

In [83]:
print("\t8\n    8\t    8\n8\t8\t8\n8\t8\t8\t8")

	8
    8	    8
8	8	8
8	8	8	8

In [86]:
print("Mercury","Venus","Earth",sep=','end="\n\n\n")
print("Mars","Jupiter","Saturn",end="\n\n\n")
print("Uranus,Neptune,Pluto")

Mercury,Venus,Earth


Mars,Jupiter,Saturn


Uranus,Neptune,Pluto

In [95]:
print("Mercury,",end='\n    ')
print("Venus,"          )
print("Earth",end='\n\n\n        ')
print("Mars,")
print("Jupiter")

Mercury,
    Venus,
Earth


        Mars,
Jupiter

In [110]:
rw

NameError: name 'rw' is not defined

# Bye Guys

# Numbers (or you can call it "Calculations")

In [99]:
41568487*3243.32132

134819960127.24284

In [100]:
5/3

1.6666666666666667

In [102]:
5**5

3125

In [104]:
976383%8855557

976383

In [111]:
print("Mercury","",sep=',',end=" ")
print("Venus","",sep=',',end=' ')
print("Earth","",sep=',',end='\n\n\n')
print("Mars","",sep=',',end=' ')
print("Jupiter","",sep=',',end=' ')
print("Saturn","",sep=',',end='\n\n\n')
print("Uranus","",sep=',',end=' ')
print("Neptune","",sep=',',end=' ')
print("Pluto","",sep=',',end=' ')

Mercury, Venus, Earth,


Mars, Jupiter, Saturn,


Uranus, Neptune, Pluto,

# Homework

Division

In [112]:
8/4

2.0

Multiplication

In [113]:
2*3

6

Addition

In [114]:
2+34

36

Subtraction

In [115]:
33-23

10

Floor Division

In [140]:
12//5

2

In [141]:
5%3.0

2.0

Exponents

In [118]:
5**3

125

Modulo

In [119]:
5%3

2

In [120]:
#Adding+
#Subtraction-
#Multiplication*
#Division/
#Exponents**
#Floor division//(Dividing with no remainder)
#Modulo%The remainder

In [133]:
print("\t\t\t\t8\n\t\t\t8\t\t8\n\t\t8\t\t8\t\t8\n\t8\t\t8\t\t8\t\t8")

				8
			8		8
		8		8		8
	8		8		8		8

In [142]:
print(type(5//587656.865))

<class 'float'>

In [143]:
5//587656.865

0.0

In [144]:
6//4

1

In [145]:
6/-4

-1.5

In [146]:
6// -5

-2

In [147]:
5// -3

-2

In [152]:
3.14*10**2

314.0

In [156]:
0.5*10*15

75.0

In [6]:
print(3.825*3*10000/100)

1147.5000000000002

In [1]:
5+30*20

605

In [2]:
(5+30)*20

700

In [ ]:
#PEDMAS
#P=Parentheses
#E=Exponents
#D=Division
#M=Multiplication
#A=Addition
#S=Subtraction

In [3]:
5+30*20/10

65.0

In [4]:
2*3+1

7

In [10]:
10000*(1+3.4/3)**(3*6)

8376391101.463574

#

# Compound Interest

In [7]:
p=10000
r=3.4
t=6
n=3
A= p*(1+r/n)**(n*t)
print(A)

8376391101.463574

# Simple Interest

In [9]:
#Simple Interest 
# A = P(1 + rt) 
# A - Final Amount
# p - Principle
# r - Rate of Interest
# t - time 
p=10000
r=3.825
t=3
A= p*(1+((r/100)*t))
print(A)

11147.499999999998

In [17]:
f=4/3

In [19]:
pi=3.14

In [20]:
r=33.6**3

In [21]:
print(f*(pi*r))

158813.06112000003

In [32]:
m=86

In [33]:
s=99

In [34]:
h=92

In [35]:
g=94

In [36]:
e=89

In [37]:
a=m+s+h+g+e

In [38]:
print(a)

460

In [43]:
500/5

100.0

In [46]:
b=460/5

In [47]:
print(b)

92.0

In [48]:
a=(m+s+h+g+e)/500*100

In [49]:
print(a)

92.0

# Homework

# Q1

In [1]:
a=3.14
b=33.6
h=99

aa=((a+b)/2)*h
print(aa)

1818.63

# Q2

For Q2 click this link http://localhost:8868/tree/Desktop

# Q3

In [5]:
print("Mercury"'\n'"Venus",end='\n'"Earth" )

Mercury
Venus
Earth

# Q4

In [110]:
print("1","2","3",sep=',',end="\n")
print("4","5","6",sep=',',end="\n")
print("7","8","9",sep=',',end="\n")
print("10")

1,2,3
4,5,6
7,8,9
10

In [6]:
3.14*5.5**2

94.985

In [11]:
a=3.3
b=4.4
print((2*a**3)+(b**2)+(2*a*b)+(3*b**2))

178.354

In [21]:
a=1244654

In [16]:
b=123

In [22]:
print(id(a))

140267928098608

In [20]:
print(id(b))

4313344160

In [24]:
c=b
print(id(c))

4313344160

In [26]:
a=10
b=20
c=30
d=c
d=a
a=b
a=d
c=b
print(a,b,c,d)

10 20 20 10

In [36]:
x=2
y=10
2*x**(1/2)+4*x**(1/2)+(x*y)

28.48528137423857

In [37]:
18+14+4+30+7

73

In [41]:
print("#\t\t#\t\t#\t\t#\t\t#\n\t#\t\t#\t\t#\t\t#\n\t\t#\t\t#\t\t#\n\t\t\t#\t\t#\n\t\t\t\t#")

#		#		#		#		#
	#		#		#		#
		#		#		#
			#		#
				#

In [42]:
print("#A","B","C","D","E","F",sep=',',end='#')

#A,B,C,D,E,F#

In [57]:
sum_of_marks=0
week1=int(input("Enter Week 1 marks "))
sum_of_marks=week1
print(sum_of_marks)
week2=int(input("Enter Week 2 marks "))
sum_of_marks=sum_of_marks+week1
print(sum_of_marks)
week3=int(input("Enter Week 3 marks "))
sum_of_marks=sum_of_marks+week2
print(sum_of_marks)
week4=int(input("Enter Week 4 marks "))
sum_of_marks=sum_of_marks+week4
print(sum_of_marks)

Enter Week 1 marks 80
80
Enter Week 2 marks 90
160
Enter Week 3 marks 100
250
Enter Week 4 marks 97
347

In [59]:
38/5

7.6

In [6]:
a=int(input("Type a number of Miles "))
p=a*1.609
print(p)

Type a number of Miles 5
8.045

In [11]:
_1a=244
print(_1a)

244

In [14]:
_my_var="Jhon"
print(_my_var)

Jhon

In [ ]:
#            Variable names
#Needs to start with letter or underscore_
#Cannot have numbers 
#Cannot contain anything other than alphabets and numbers
#The variables have to be exactly the same to print it
#Cannot contain spaces

In [16]:
x=10
a=(4*(x**2))+(3*x)+5
print(a)

435

In [19]:
x=13
print(2*((3*x)+1))

80

In [20]:
r=45
(4/3)*3.14*(r**3)

381510.0

In [5]:
r=int(input("Enter an Integer "))
i=(r*9/5)+32
print(i)

Enter an Integer 0
32.0

Algorithm for Area of a Circle 
1.Input R
2.Area=3.14*(R**2)
3.Print(Area)

In [29]:
t=(2*(2**3))+5*((5**5)/4)+1
print(t)

3923.25

In [17]:
x=10
y=5
w=(x**4)/(3*2)+(y**2)/(y*8)**2
print(w)

1666.6822916666667

In [19]:
x=24
y=43
z=96
r=x*y*z
print(r)

99072

In [16]:
if = "Computer Science Lab"

SyntaxError: invalid syntax (<ipython-input-16-68070aebaa37>, line 1)

In [23]:
a=int(input('Enter a radius '))
pi=3.14
w=2*pi*a
print(w)

Enter a radius 5
31.400000000000002

In [26]:
k=int(input("Enter weight in Kilograms "))
v=k*1000
print(v)

Enter weight in Kilograms 5
5000

In [32]:
24/5

4.8

Sum
1.Start Program
2.Input Day1's Marks
3.Input Day2's Marks
4.Input Day3's Marks
5.Input Day4's Marks
6.Sum=Day1+Day2+Day3+Day4
7.Print Sum
8.End Program

Percentage
1.Start Program
2.Input Day1's Marks
3.Input Day2's Marks
4.Input Day3's Marks
5.Input Day4's Marks
6.Percentage=(Day1+Day2+Day3+Day4)/4
7.Print Percentage
8.End Program

In [28]:
(17|4)*(2&7)

42

In [27]:

2&

0

In [ ]:
#Common questions: Solve monthly test notebook again
#Q1 create a ppt and present what you have learnt this week
#Q2 Study about different assignment operators

2*3=6
|||||
||||Operand
|||Operator
||Operand
|Operator
Operand

Operator         What it will do
  ==                 equal to
  !=                 not equal to
  <                  less than
  >                  greater than
  <=                less than or equal to
  >=                greater than or equal to

In [5]:
print(3==3)
print(3==4)

True
False

In [7]:
print(3!=3)
print(3!=4)

False
True

In [8]:
print(3<3)
print(3<4)

False
True

In [9]:
print(3>3)
print(3>4)

False
False

In [10]:
print(3<=3)
print(3<=4)

True
True

In [11]:
print(3>=3)
print(3>=4)

True
False

In [16]:
a=123
b=321
c=12321
print(a<b and a>c)

False

In [25]:
dew=int(input("Enter Number less than 10 "))
print(dew<10)

Enter Number less than 10 3
True

In [26]:
3>21 or 2<12

True

In [1]:
(28==28 and 28>32) or not(25<=29 and 25<=28)

False

In [6]:
a12e=int(input("Enter an number between 10 and 15 "))
aw=a12e>10 and a12e<15
print(aw)

Enter an number between 10 and 15 13
True

In [10]:
aw=int(input("Enter a number"))
print(aw==5 or aw==10 or aw==15)

Enter a number15
True

In [14]:
print(True and False and True)

False

In [1]:
7>>3

0

In [3]:
7<<2

28

In [1]:
~7

-8

In [10]:
7^2

5

In [12]:
2**6
2**5

32

In [2]:
2+3

5

In [3]:
"python"-"program"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
print(12+"I don't like chicken")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
and="Go Programming"
print(and)

SyntaxError: invalid syntax (<ipython-input-7-4de124a21f44>, line 1)

In [15]:
a1=int(input("Enter a number"))
a2=int(input("Enter a number"))
a3=int(input("Enter a number"))
a4=int(input("Enter a number"))
a5=int(input("Enter a number"))
a6=int(input("Enter a number"))
a7=int(input("Enter a number"))
a8=int(input("Enter a number"))
a9=int(input("Enter a number"))
a10=int(input("Enter a number"))
a11=a1+a2+a3+a4+a5+a6+a7+a8+a9+a10
print(a11)

Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
Enter a number7
Enter a number8
Enter a number9
Enter a number10
55

In [3]:
c=2+1j
print(c+c)

(4+2j)

In [14]:
a=1562874354389547925204537354543534954400894590324584529

In [6]:
print(isinstance(a,float))

False

In [7]:
print(isinstance(a,complex))

True

In [15]:
type(a)

int

In [16]:
float(a)

1.5628743543895478e+54

In [17]:
type(a)

int

In [18]:
a=4+5j
complex(a)

(4+5j)

In [20]:
a='r'
type(a)

str

In [21]:
int(a)

ValueError: invalid literal for int() with base 10: 'r'

In [23]:
a=float(input("Enter a float "))
a=int(a)
print(a)

Enter a float 5.67889867876862376316416736178828373264367928636342766297146134286384638834
5

In [27]:
A=10

In [26]:
type(A)

int

In [28]:
complex(A)

(10+0j)

In [3]:
type("string")

str

In [4]:
print("wer"+1)

TypeError: can only concatenate str (not "int") to str

In [2]:
zxz="1123223"

In [3]:
isinstance(zxz, int)

False